<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:className="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World Page</title>
</head>
<body>
<h1>Products</h1>

<div>
    <ul>
        <li th:each="product : ${products.entrySet()}">
            ID: <span  th:text="${product.key}"></span>
            Name: <span className="span1" th:text="${product.value.name}"></span>
            Price: <span th:text="${product.value.price}"></span>
        </li>
    </ul>
</div>

</body>
</html>